// ==================================================
// Embeds
// ==================================================


// Audio block [gutenberg]
// ------------------------------
.wp-block-audio {
	audio {
		min-width: 0;
	}
	figcaption {
		@extend .figcaption;
	}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}


// Video block [gutenberg]
// ------------------------------
.wp-block-video {
	margin-left: auto;
	margin-right: auto;
	
	video {
		width: 100%;
	}
	figcaption {
		@extend .figcaption;
	}
	
	// Alignment variations
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	&.alignwide {}
	&.alignfull {}
}
