// ==================================================
// Grids
// ==================================================


// Multi-column grid
// ------------------------------
.multi-column-grid {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$space;

	> * {
		flex: 1 1 0;
		margin-bottom: $space;
		margin-left: $space;
		min-width: 20rem;
	}
}


// Columns block [gutenberg]
// ------------------------------
$columns_block_margin: $space;
$columns_block_padding: $space;
$columns_margin: $space;
$columns_gutter: $space;
$columns_padding: 0rem;

.wp-block-columns {
	margin: 0 0 $columns_block_margin;
	
	// Colour variations
	&.has-background {
		padding: $columns_block_padding;
	}
	&.has-text-color {}
	// &.has-[color-name]-background-color
	// &.has-[color-name]-color
	
	// Vertical alignment variations
	&.are-vertically-aligned-top {}
	&.are-vertically-aligned-center {}
	&.are-vertically-aligned-bottom {}
	
	// Alignment variations
	&.alignwide {}
	&.alignfull {}
}
.wp-block-column {
	padding: $columns_padding;
	box-sizing: border-box;
	
	> :last-child {
		margin-bottom: 0;
	}
	
	// Responsive
	@media (max-width: 599px) {
		&:not(:first-child) {
			margin-top: $columns_margin;
		}
	}
	@media (max-width: 781px) and (min-width: 600px) {
		&:nth-child(n+3) {
			margin-top: $columns_margin;
		}
		flex-basis: calc( 50% - #{ $columns_gutter * 0.5 } ) !important;
		&:nth-child(2n) {
			margin-left: $columns_gutter;
		}
	}
	@media (min-width: 782px) {
		&:not(:first-child) {
			margin-left: $columns_gutter;
		}
	}
	
	// Vertical alignment variations
	&.is-vertically-aligned-top {}
	&.is-vertically-aligned-center {}
	&.is-vertically-aligned-bottom {}
}


// Media & Text block [gutenberg]
// ------------------------------
.wp-block-media-text {
	margin: 0 0 $space;
	background: $grey-lighter;
	
	figure.wp-block-media-text__media {
		padding: 0;
		
		img {}
		video {}
	}
	.wp-block-media-text__content {
		padding-top: $space;
		padding-bottom: $space;
		
		> :last-child {
			margin-bottom: 0;
		}
	}
	
	// Block settings
	&.is-stacked-on-mobile {}
	
	// Layout variations
	&.has-media-on-the-right {}
	
	// Custom background colours
	// &.has-[colorname]-background-color {}
	
	// Alignment variations
	&.alignwide {}
	&.alignfull {}
}
