// ==================================================
// Quotes
// ==================================================


// Standard quotes
// ------------------------------
blockquote {
	@include font-size-medium;
	color: $grey-medium;
	
	cite {
		display: block;
		text-align: right;
		font-weight: bolder;
	}
}
q {
	color: $grey-medium;
}


// Quote block [gutenberg]
// ------------------------------
.wp-block-quote{
	
	// Style variation: Large
	&.is-style-large {
		@include font-size-xlarge;
		margin: 0 0 $space;
		padding: 0;
		
		p {
			font: inherit;
		}
		cite {
			@include font-size-medium;
		}
	}
}
