// ==================================================
// Utility Classes
// ==================================================


// Font sizes [gutenberg]
// ------------------------------
.has-small-font-size {
	@include font-size-small;
}
.has-normal-font-size {
	@include font-size-normal;
}
.has-medium-font-size {
	@include font-size-medium;
}
.has-large-font-size {
	@include font-size-large;
}
.has-huge-font-size {
	@include font-size-xlarge;
}
// .has-[font-size]-font-size {}


// Paragraphs decoration [gutenberg]
// ------------------------------
p.has-drop-cap:not(:focus) {
	&:first-letter {
		font-size: 6.3em;
	}
}
p.has-text-color {}
// .has-[custom-color-name]-color.has-[custom-color-name]-color
p.has-background {
	padding: 2rem 3rem;
}
// .has-[custom-color-name]-background-color.has-[custom-color-name]-background-color


// Spacing
// ------------------------------
.no-margin {
	margin-bottom: 0;
}
.margin-1 {
	margin-bottom: $space;
}
.margin-2 {
	margin-bottom: ($space * 2);
}
.margin-3 {
	margin-bottom: ($space * 3);
}
.margin-4 {
	margin-bottom: ($space * 4);
}


// Sizing
// ------------------------------
.full-width {
	display: block;
	box-sizing: border-box;
	width: 100%;
}


// Fixed ratios
// ------------------------------
.ratio-16-9 {
	@include fixed-ratio( 16, 9 );
}
.ratio-4-3 {
	@extend .ratio-16-9;
	@include fixed-ratio-override( 4, 3 );
}
.ratio-1-1 {
	@extend .ratio-16-9;
	@include fixed-ratio-override( 1, 1 );
}


// Bleed backgrounds
// ------------------------------
.bleed-left {
	@include bleed-left;
}
.bleed-right {
	@include bleed-right;
}


// Visibility
// ------------------------------
.visually-hidden {
	@include visually-hidden;
}
.invisible {
	visibility: hidden;
}
.print-only {
	display: none;
}


// Text
// ------------------------------
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.hyphens {
	hyphens: auto;
}


// Float
// ------------------------------
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
}
img, figure {
	&.float-left {
		margin: 0 $space $space 0;
	}
	&.float-right {
		margin: 0 0 $space $space;
	}
	&.float-left,
	&.float-right {
		max-width: calc( 50% - #{ $space } );
		
		@include screen-below( small ) {
			float: none;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
		}
	}
}


// Overflow
// ------------------------------
.clearfix {
	@include clearfix;
}
.scroll {
	@include smooth-scroll;
}
.no-overflow {
	overflow: hidden;
}
