// ==================================================
// WordPress Classes
// ==================================================


// Alignment
// ------------------------------
.alignnone {}
.alignleft {
	@extend .float-left;
}
.alignright {
	@extend .float-right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignwide {
	margin-left: 50%;
	transform: translateX( -50% );
	max-width: 100vw;
	width: calc( 100% + 24rem );
	box-sizing: border-box;
}
.alignfull {
	margin-left: 50%;
	transform: translateX( -50% );
	max-width: none;
	width: 100vw;
	box-sizing: border-box;
}


// Screen readers
// ------------------------------
.screen-reader-text {
	@extend .visually-hidden;
}


// Captions
// ------------------------------
.wp-caption {
	max-width: 100%;
}
.wp-caption-text {}


// Other
// ------------------------------
.gallery-caption {}
.sticky {}
.bypostauthor {}


// Font sizes [gutenberg]
// ------------------------------
.has-small-font-size {
	@include font-size-small;
}
.has-normal-font-size {
	@include font-size-normal;
}
.has-medium-font-size {
	@include font-size-medium;
}
.has-large-font-size {
	@include font-size-large;
}
.has-huge-font-size {
	@include font-size-xlarge;
}
// .has-[font-size]-font-size {}


// Paragraphs decoration [gutenberg]
// ------------------------------
p.has-drop-cap:not(:focus) {
	&:first-letter {
		font-size: 6.3em;
	}
}
p.has-text-color {}
// .has-[custom-color-name]-color.has-[custom-color-name]-color
p.has-background {
	padding: 2rem 3rem;
}
// .has-[custom-color-name]-background-color.has-[custom-color-name]-background-color
