
// Vendor
@import 'vendor/normalize';

// Abstracts
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/typography';

// Content elements
@import 'content/base';
@import 'content/headings';
@import 'content/paragraphs';
@import 'content/dividers';
@import 'content/links';
@import 'content/buttons';
@import 'content/lists';
@import 'content/quotes';
@import 'content/preformatted';
@import 'content/images';
@import 'content/embeds';
@import 'content/forms';
@import 'content/tables';
@import 'content/messages';
@import 'content/grids';
@import 'content/widgets';
@import 'content/utility';
@import 'content/wordpress';



// ==================================================
// Classic Editor
// ==================================================
body:not( .editor-styles-wrapper ) {
	margin: 20px;
}



// ==================================================
// Gutenberg Editor
// ==================================================
// Styles included here affect only the editable content area of the editor screen
// If you need styles that are applied to the entire block editor screen, use the 'blocks-editor' file

// Fix for SVGs used in buttons within toolbars
.block-editor-block-toolbar {
	button,
	input {
		overflow: hidden;
	}
	svg {
		max-width: none;
	}
}

// Post title
.editor-post-title__input {
	@include font-size-h1;
	font-family: $font-body;
	font-weight: $font-bold;
	color: $grey-dark;
}

// Block widths
.wp-block {
	max-width: $main_wrapper_width; // default: 580px
	
	&[data-align="wide"] {
		max-width: $wide_blocks_width; // default: 1100px
	}
	&[data-align="full"] {
		max-width: none;
	}
}
